/*

!/AcWing/
/AcWing/笔记&题解/

!/AtCoder/
/AtCoder/jp_reading/

!/Codeforces/

!/Luogu/
/Luogu/2025SXJH/
/Luogu/2026SXJH/
/Luogu/比赛/
/Luogu/自制/

!/SPOJ/

!/UVA/

!/vjudge/

!/.gitignore

!/做题记录_after202502.md
!/做题记录_2026.md